.about {  
  padding: 0;
  margin: 0;
  height: auto;
  background-color: $primary-color;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
}

.about-social {
  display: inline;
  text-align: center;
  padding-top: 2rem;
  svg {
    margin: 0 10px;
    max-width: 28px;
    fill: $font-color;
    &:hover {fill: $secondary-color;}
  }
}

.about-text {
  background: $light-gray;
  flex: 1 100%;
  width: 100%;
  padding: 2rem;
  @include md {
    flex: 1 50%;
    width: 50%;
    padding: 4rem;
  }
  p {margin-bottom: 2rem;}
  h1 {color: $secondary-color;}
  img {border-radius: 50%; margin-bottom: 2rem;}
}

.about-slider {
  background-color: $primary-color;
  flex: 1 100%;
  width: 100%;
  color: $white;
  padding: 2rem;
  @include md {
    flex: 1 50%;
    width: 50%;
    padding: 4rem;
  }

  /* Testimonial text */
  .quote {
    font-size: 1.5rem;
    font-weight: $font-bold;
    @include md {
      font-size: 2rem; 
    }
  }

  q:before {
    display: none;
  }

  hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 2px solid $secondary-color;
  }

  /* Name of author */
  .author {
    position: relative;
    letter-spacing: normal;
    padding-top: 1rem;
  }

  .about-slider::after {
    display: block;
    content: "";
    clear: both;
  }

  .kiss-slider {
    & li {
      list-style: none;
    }
  }
  
  .kiss-pagination {
    padding: 0;
    text-align: center;

    .active {
      opacity: 1;
    }

    button {
      display: inline-block;
      border-radius: 50%;
      background: $white;
      border: none;
      cursor: pointer;
      height: 12px;
      width: 12px;
      opacity: 0.5;
      transition: opacity 0.6s ease;
      margin-right: 10px;
      &:last-child {margin-right: 0;}

      &:hover {
        opacity: 1;
      }
    }
  }
}