/* Varibles */
$primary-color: #2a4b8d;
$secondary-color: #ff9933;
$white: #ffffff;
$light-gray: #f8f7f5;
$font-color: #0C1C2C;
$font-normal: 400;
$font-bold: 700;

/* Small */
@mixin sm {
  @media (min-width: 34em) {
    @content;
  }
}

/* Medium */
@mixin md {
  @media (min-width: 48em) {
    @content;
  }
}

/* Large */
@mixin lg {
  @media (min-width: 62em) {
    @content;
  }
}

/* Extra Large */
@mixin xl {
  @media (min-width: 75em) {
    @content;
  }
}


html {
  height: 100%;
}

body {
  min-height: 100% !important;
  margin: 0;
  padding: 0;
  font-size: 1.2rem !important;
  font-weight: $font-normal !important;
  line-height: 1.5 !important;
  font-family: "effra", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  color: $font-color !important;
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0!important;
}

.btn {
  cursor: pointer;
  background: $primary-color;
  display: inline-block;
  position: relative;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 1rem;
  color: $white;
  border: none;
  transition: all 0.3s ease-in;

  &:hover {
    box-shadow: inset 0px 0px 0px 3px $secondary-color;
    background: transparent;
  }
}

.main {
  position: relative;
  z-index: 10;
  background: $white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color url('../img/hero-bg.jpg');
  background-color: $primary-color;
  background-size: cover;
  color: $white;
  height: 90vh;

  .hero-content {
    flex: 0 0 100%;
    max-width: 100%;
    box-shadow: 0 0 50px 5px rgba(0,0,0,.6);
    background-color: $font-color;
    margin-top: 64px;
    h2 {font-weight: $font-normal;}
    p {color: $light-gray;}
    button {margin-bottom: 2rem;}

    //@include sm {margin-top: 0;}

    @include md {
      flex: 0 0 66.66666%;
      max-width: 66.66666%;
    }

    @include xl {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .hero-text {
      padding: 2rem;
      @include md {
        padding: 4rem;
      }
    }
  }
}

/* FOOTER */
.footer_spacer {
  position: relative;
  z-index: -1;
  height: 300px;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 300px;
  padding: 20px;
  background: $primary-color;
  color: $white;

  .footer_content {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 150px;
    width: 100%;
    text-align: center;
  }

  .footer_link {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer_secondary {
    position: fixed;
    z-index: 3;
    left: 0;
    bottom: 10px;
    width: 100%;

    .footer_secondary-content {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

      @include md {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
} /* END FOOTER */

/* SCROLL BASED ANIMATION EFFECTS */
.animation-element {
  opacity: 0;
  position: relative;
}

/* Animation element sliding left*/
.slide-left {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px, 0px, 0px);
  transition-delay: 0.5s;
}

.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}