/* Varibles */
$primary-color: #3649a3;
$secondary-color: #2e71f2;
$tertiary-color: #f4606c;
$white: #ffffff;
$light-gray: #ededed;
$font-color: #3b3d40;
$font-normal: 400;
$font-bold: 700;

.text-center {
  text-align: center;
}

.parsley-success {
  color: #3c763d;
  background-color: #dff0d8 !important; 
  border-color: #d6e9c6;
}

.parsley-error {
  color: #a94442;
  background-color: #f2dede !important;
  border-color: #ebccd1;
}

.parsley-required, .parsley-type, .parsley-minlength {
  color: #a94442;
  font-size: 16px;
  margin-top: 8px;
}

//Hidden on smaller devices
@media (max-width: 767px){
  .hidden-sm {display: none;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {display: none;}
}

/* Small */
@mixin sm {
  @media (min-width: 34em) {
    @content;
  }
}

/* Medium */
@mixin md {
  @media (min-width: 48em) {
    @content;
  }
}

/* Large */
@mixin lg {
  @media (min-width: 62em) {
    @content;
  }
}

/* Extra Large */
@mixin xl {
  @media (min-width: 75em) {
    @content;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100% !important;
  margin: 0;
  padding: 0;
  font-size: 1.2rem !important;
  font-weight: $font-normal !important;
  line-height: 1.5 !important;
  font-family: "effra", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  color: $font-color !important;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0!important; 
}

.btn {
  font-family: "effra";
  z-index: 1;
  cursor: pointer;
  background-color: $secondary-color;
  color: $white;
  border: none;
  overflow: hidden;
  border-radius: 2rem;
  display: inline-block;
  text-decoration: none;
  text-align: center; 
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: 1rem;
  transition: all 0.5s linear;

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $tertiary-color;
    transform: translate(-50%, -50%);
    transition: width 500ms, height 500ms;
    z-index: -1;
  }

  &:hover span,
  &:active span {
    width: 600px;
    height: 600px;
  }

  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }
}

.font-normal {
  font-weight: $font-normal;
}

.main {
  position: relative;
  z-index: 10;
  background: $white;
}


/* FOOTER */
.footer_spacer {
  position: relative;
  z-index: -1;
  height: 560px;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 560px;
  padding: 20px;
  background: $primary-color;
  color: $white;

  .footer_content {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 140px;
    width: 100%;
    text-align: center;
    img {
      max-width: 180px;
    }
    h2 {
      padding: 2rem 0 1rem 0; 
    }
  }

  .footer_link {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer_secondary {
    position: fixed;
    z-index: 3;
    left: 0;
    bottom: 10px;
    width: 100%;

    .footer_secondary-content {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

      @include md {
        flex-direction: row;
        justify-content: space-between;
      }

      .footer_secondary-social {
        order: 1;

        ul {
          padding: 0;
          text-align: center;
          @include md {text-align: right;}
        }

        li {
          padding: 0 1rem;
          list-style: none;
          display: inline-block;
          &:last-child {padding-right: 0;}
          &:first-child {padding-left: 0;}
        }
      }

      #copyright {
        order: 2;
        text-align: center;
        @include md {
          order: 1;
          text-align: left;
        }
      }
    }
  }
}/* END FOOTER */

.hyperlinks-inverse {
  padding: 0;

  li {
    padding: 0 1rem;
    list-style: none;
    display: inline-block;
    &:last-child {padding-right: 0;}
    &:first-child {padding-left: 0;}
  }

  a {
    color: $white;
    text-decoration: none;
    position: relative;
  }

  a:before {
    content: "";
    position: absolute;
    background: $tertiary-color;
    width: 100%;
    transform: scaleX(1);
    left: 0;
    bottom: -4px;
    height: 2px;
    transition: all 0.2s ease-in;
  }

  a:hover {
    color: $white;
    text-decoration: none;
    &:before {transform: scaleX(0);}
  }
}

.hyperlink {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $tertiary-color;
    text-decoration: none;
  }
}

.p-top {
  padding-top: 1.5rem;
  @include md {padding-top: 0;}
}