/* NAVBAR */

.navbar {
  overflow: hidden;
  background-color: #333;

  /* Navbar animation styles */
  animation-name: dropNav;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;

  @keyframes dropNav {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Hamburger menu icon visibility */
  .menu-toggle {
    display: none;

    @media screen and (max-width: 34em) {
      display: block;

    }
  }

  .logo {
    float: left;
  }

  .active {
    background-color: orange;
  }

  a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px; 

    &:hover:not(.active) {
      color: red;
    }

    @media screen and (max-width: 34em) {
      &:not(:first-child, :last-child) {
        display: none;
      }
    }
  }
}/* END NAVBAR */


.responsive {
  position: relative;
  padding-top: 30px; 

  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  & a {
    float: none;
    display: block !important;

    &.menu-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
