.scroll-down {
  display: block;
  opacity: 0.5;
  width: 28px;
  height: 40px;
  border-radius: 14px;
  border: 2px solid $white;
  margin: 0 auto;
  @include sm {margin: 0;} 
}

.scroll-down span {
  display: block;
  margin: 4px auto;
  width: 3px;
  height: 3px;
  border-radius: 6px;
  background: $white;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scrollDown;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: translateY(4px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}